<?xml version="1.0"?>
<config>
    <modules>
        <Wingify_Abtester>
            <version>0.1.0</version>
        </Wingify_Abtester>
    </modules>
    <frontend>
        <routers>
            <abtester>
                <use>standard</use>
                <args>
                    <module>Wingify_Abtester</module>
                    <frontName>abtester</frontName>
                </args>
            </abtester>
        </routers>
        <layout>
            <updates>
                <abtester>
                    <file>abtester.xml</file>
                </abtester>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<abtester>
				<use>admin</use>
				<args>
					<module>Wingify_Abtester</module>
					<frontName>abtester</frontName>
				</args>
			</abtester>
        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
                <all>
					<title>Allow Everything</title>
				</all>
				<admin>
                    <children>
                        <abtester>
							<title>A/B Testing using Visual Website Optimizer</title>
							<children>
								<config translate="title">
									<title>Configuration</title>
									<sort_order>2</sort_order>
								</config>							
							</children>	
						</abtester>
						<system>
                            <children>
                                <config>
                                    <children>
                                        <abtester>
                                            <title>A/B Testing Section</title>
                                        </abtester>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
		</acl>
		<layout>
			<updates>
				<abtester>
					<file>abtester.xml</file>
				</abtester>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <abtester>
                <class>Wingify_Abtester_Model</class>
                <resourceModel>abtester_mysql4</resourceModel>
            </abtester>
            <abtester_mysql4>
                <class>Wingify_Abtester_Model_Mysql4</class>
                <entities>
                    <abtester>
                        <table>abtester</table>
                    </abtester>
                </entities>
            </abtester_mysql4>
        </models>
        <resources>
            <abtester_setup>
                <setup>
                    <module>Wingify_Abtester</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </abtester_setup>
            <abtester_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </abtester_write>
            <abtester_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </abtester_read>
        </resources>
        <blocks>
            <abtester>
                <class>Wingify_Abtester_Block</class>
            </abtester>
        </blocks>
        <helpers>
            <abtester>
                <class>Wingify_Abtester_Helper</class>
            </abtester>
        </helpers>
    </global>
</config>