<?xml version="1.0"?>
<config>
	<tabs>
        <wingify translate="label" module="abtester">
            <label>Wingify</label>
            <sort_order>299</sort_order>
        </wingify>
    </tabs>
   <sections>
       <abtester translate="label" module="abtester">
            <label>A/B Testing using Visual Website Optimizer</label>
            <tab>wingify</tab>
            <frontend_type>text</frontend_type>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
			<groups>
				<general translate="label comment">
					<comment><![CDATA[<br />
						<div class="box">
							<p>
								<a href="http://visualwebsiteoptimizer.com">Visual Website Optimizer</a> is an A/B testing tool for your Magento website. To use this extension, simply enter your Visual Website Optimizer account ID and enable it (account ID can be found after logging into your VWO account). This plugin uses <a href="http://visualwebsiteoptimizer.com/split-testing-blog/asynchronous-code/" target="_blank">asynchronous version of code snippet</a> which ensures much faster loading of your website.
							</p>
						</div>
						]]>
					</comment>
					<label>General</label>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<sort_order>10</sort_order>
					<fields>
						<enable translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable>
						<accountid translate="label">
                            <label>Account ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </accountid>
					</fields>
				</general>
			</groups>
			
		</abtester>
	</sections>
</config>